*.iml
.starter-libs/
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
# CocoaPods
Pods/
*.xcuserdatad
*.xcuserdata
DerivedData/
composeApp/release/
*.bak
schemas
venv
site
.cache
temp
temp.txt
.starter
.agents/skills/kmp-starter/.skill-storage/codes
.agents/skills/kmp-starter/tests/report.md
.agents/skills/kmp-starter/tests/report.json
__pycache__/